@import "compass";

body, select, input, textarea {
    color: $font-color;
    // font-family: Georgia, serif;
}

body { background: #F2F2F2; }

#container {
	position: relative;
	width: 1280px;
	height: 6600px;
	margin: 0 auto;
	// background: image-url("_ref1.jpg") no-repeat center top;

	img {
		visibility: hidden;
		display: none;
		position: absolute;
		top: 0px;
		left: 0px;

		&.drag { @include opacity(0.5); }
	}

	@for $i from 1 through 33 {
		#img#{$i} { display: block; }
	}

	#img36 { display: block; }
	#img37 { display: block; }
	#img40 { display: block; }
	#img44 { display: block; }

	@for $i from 34 through 59 {
		#img#{$i} { display: block; }
	}

	@for $i from 73 through 94 {
		#img#{$i} { display: block; }
	}

	@for $i from 100 through 110 {
		#img#{$i} { 
			visibility: visible;
			display: block; 
		}
	}

	//intro
	#img106 { top: 101px; left: 404px; }
	#img107 { top: 139px; left: 585px; }
	#img108 { top: 122px; left: 640px; }
	#img109 { top: 274px; left: 295px; }
	#img110 { top: 396px; left: 197px; }

	#img1 { top: 447px; left: 320px; }
	#img2 { top: 612px; left: 420px; }
	#img3 { top: 958px; left: 425px; }
	#img4 { top: 1016px; left: 626px; }
	#img5 { top: 959px; left: 798px; }
	#img6 { top: 1004px; left: 285px; }
	#img7 { top: 1086px; left: 546px; }
	#img8 { top: 1004px; left: 808px; }
	#img9 { top: 1250px; left: 249px; }
	#img10 { top: 1307px; left: 270px; }
	#img11 { top: 1233px; left: 671px; }
	#img12 { top: 1433px; left: 186px; }
	#img13 { top: 1522px; left: 252px; }
	#img14 { top: 1587px; left: 157px; }
	#img15 { top: 1650px; left: 154px; }
	#img16 { top: 1735px; left: 274px; }
	#img17 { top: 1873px; left: 217px; }
	#img18 { top: 1967px; left: 254px; }
	#img19 { top: 1989px; left: 390px; }
	#img20 { top: 2080px; left: 621px; }
	#img21 { top: 2109px; left: 693px; }
	#img22 { top: 2163px; left: 427px; }
	#img23 { top: 2177px; left: 188px; }
	#img24 { top: 2087px; left: 395px; }
	#img25 { top: 2279px; left: 192px; }

	//propostas 
	#img26 { top: 2301px; left: 612px; }
	#img27 { top: 2483px; left: 118px; }
	#img28 { top: 2234px; left: 941px; }
	#img29 { top: 2510px; left: 620px; }
	#img30 { top: 2595px; left: 541px; }
	#img31 { top: 2459px; left: 781px; }
	#img32 { top: 2774px; left: 386px; }
	#img33 { top: 2774px; left: 879px; }
	#img34 { top: 2770px; left: 471px; }
	#img35 { top: 2836px; left: 296px; }
	#img36 { top: 2781px; left: 24px; }

	//proposta 1
	#img37 { top: 2930px; left: 156px; }
	#img38 { top: 3059px; left: 43px; }
	#img39 { top: 2970px; left: 355px; }
	#img40 { top: 2928px; left: 658px; }
	
	//proposta 3 #img40 { top: 2631px; left: 603px; }
	#img41 { top: 2981px; left: 542px; }
	#img42 { top: 3135px; left: 547px; }
	#img43 { top: 2957px; left: 810px; }
	#img44 { top: 2926px; left: 1037px; }
	//proposta 3 - não visivel

	#img45 { top: 3056px; left: 1001px; }
	#img92 { top: 2808px; left: 1097px; }
	#img46 { top: 3255px; left: 58px; }
	#img47 { top: 3307px; left: 315px; }
	#img48 { top: 3290px; left: 661px; }
	#img49 { top: 3282px; left: 631px; }

	#img50 { top: 3555px; left: 154px; }
	#img51 { top: 3728px; left: 1005px; }
	#img52 { top: 3805px; left: 893px; }
	#img53 { top: 3883px; left: 997px; }
	#img54 { top: 4013px; left: 120px; }
	#img55 { top: 3894px; left: 166px; }
	#img56 { top: 3658px; left: 43px; }
	#img57 { top: 3906px; left: 235px; }
	#img58 { top: 4252px; left: 262px; }
	#img59 { top: 4379px; left: 472px; }

	//proposta 2
	#img60 { top: 2768px; left: 467px; }
	#img61 { top: 2836px; left: 358px; }
	#img62 { top: 3055px; left: 75px; }
	#img63 { top: 2931px; left: 332px; }
	#img64 { top: 3132px; left: 576px; }
	#img65 { top: 2954px; left: 815px; }
	#img66 { top: 3061px; left: 998px; }
	#img95 { top: 3555px; left: 154px; }
	#img96 { top: 3290px; left: 661px; }
	#img97 { top: 3980px; left: 235px; }

	//proposta 3
	#img67 { top: 2772px; left: 466px; }
	#img68 { top: 2840px; left: 373px; }
	#img69 { top: 3063px; left: 57px; }
	#img70 { top: 2972px; left: 357px; }
	#img71 { top: 3053px; left: 571px; }
	#img72 { top: 2960px; left: 741px; }
	#img98 { top: 3290px; left: 661px; }
	#img99 { top: 3906px; left: 235px; }

	//social hub
	#img73 { top: 4565px; left: 447px; }
	#img74 { top: 4665px; left: 321px; }
	#img75 { top: 4861px; left: 61px; }
	#img76 { top: 4738px; left: 725px; }
	#img77 { top: 4837px; left: 608px; }
	#img78 { top: 4970px; left: 607px; }
	#img79 { top: 5057px; left: 608px; }
	#img80 { top: 5092px; left: 608px; }
	#img81 { top: 5158px; left: 609px; }
	#img82 { top: 4915px; left: 984px; }

	//selfies
	#img83 { top: 5283px; left: 419px; }
	#img84 { top: 5384px; left: 492px; }
	#img85 { top: 5594px; left: 317px; }
	#img86 { top: 5817px; left: 165px; }
	#img87 { top: 5507px; left: 126px; }
	#img88 { top: 5495px; left: 688px; }
	#img89 { top: 5864px; left: 723px; }

	//campanha sif
	#img90 { top: 6150px; left: 382px; }
	#img91 { top: 6294px; left: 498px; }

	//brilho na seta
	#img93 { top: 2766px; left: 351px; }
	#img94 { top: 2767px; left: 907px; }

	//botoes troca proposta no final
	#img100, #img101 { top: 6043px; left: 261px; }
	#img102, #img103 { top: 6045px; left: 541px; }
	#img104, #img105 { top: 6046px; left: 817px; }

}

header {}

#main {}

footer {}
